.filterContainer {
  position: relative;
  background-color: rgba(0, 0, 0, 0.05);
  width: 100%;
  padding: 10px;
}
.filterContainer .filterGroup {
  display: grid;
}

.filterContainer .title {
  color: #306ca7 !important;
  line-height: 30px;
}

.filterContainer .icon {
  font-size: 1.3em;
  position: absolute;
  left: 15px;
  top: 9px;
  color: #306ca7;
  cursor: pointer;
}
