input[type="color"] {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 40px;
  background: none;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: solid 1px #000; /*change color of the swatch border here*/
  border-radius: 40px;
}
